<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util-3.1.xsd">
            
    <bean id="myDaoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService">
            <ref local="codeUserDetailsService"/>
        </property>
   </bean>       
   
   <bean id="codeUserDetailsService" class="org.strandz.service.wombatrescue.AuthenticationUserDetailsGetter">
   </bean>   
   
   <bean id="userDetails" class="org.strandz.service.wombatrescue.ServerUserDetailsService">
   </bean>      

   <bean id="rosterService" class="org.strandz.service.wombatrescue.ServerRosterService">
   </bean>  

   <bean id="uploadRosterService" class="org.strandz.service.wombatrescue.ServerUploadRosterService">
   </bean>  
      
</beans>